        ::-webkit-scrollbar {
            width: 6px;
            height: 6px;
        }

        body {
  cursor: pointer; /* changes the cursor to a hand */
}
body {
  cursor: url('Demon\ Slayer\ Water\ Breathing\ Sword\ Animated--cursor--SweezyCursors..ani'), auto;
}

        ::-webkit-scrollbar-thumb {
            background-color: rgba(156, 163, 175);
            border-radius: 3px;
        }

        ::-webkit-scrollbar-track {
            background-color: transparent;
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-image: inherit;
            background-size: cover;
            z-index: 0;
        }
